<div class="col-lg-3">
    <div class="sidebar">

        <h3 class="sidebar-title">最新文章</h3>
        <div class="sidebar-item recent-posts">

            <foreach name="latestNews" item="news">
                <div class="post-item clearfix">
                    <img src="{$news.thumb}" alt=""  style="border: 1px solid #ccc;">
                    <h4><a href="{:U('Article/index',['id'=>$news['id'],'pid'=>$news['pid'],'cid'=>$news['cid']])}"><script>mySubstring('{$news.title}',20)</script></a></h4>
                    <!--
                    <time datetime="{$news.create_time}">{$news.create_time}</time>
                    -->
                </div>
            </foreach>

        </div><!-- End sidebar recent posts-->



    </div><!-- End sidebar -->

</div>