<div class="col-lg-3" style="padding: 0px;">
    <div class="sidebar" style="margin: 0px;">


        <h3 class="sidebar-title">
            <a href="{:U('Channel/index',['pid'=>$channelItem['channel']['id']] )}"  >{$channelItem.channel.name}</a>
        </h3>
        <div class="sidebar-item categories">
            <ul>
                <foreach name="channelItem.channel.son" item="son">
                    <li style="margin-left: 30px;">
                        <a href="{:U('Channel/index',['pid'=>$son['parent_id'],'cid'=>$son['id']] )}" <if condition="$son['current']">class='channel-select'</if> >{$son.name} <span>({$son.article})</span></a>
                    </li>
                </foreach>
            </ul>

        </div><!-- End sidebar categories-->

        <h3 class="sidebar-title">最新文章</h3>
        <div class="sidebar-item recent-posts">

            <foreach name="channelItem.latestNews" item="news">
                <div class="post-item clearfix">
                    <a href="{:U('Article/index',['id'=>$news['id'],'pid'=>$news['pid'],'cid'=>$news['cid']])}" >
                        <img src="{$news.thumb}" alt="" style="border: 1px solid #ccc;">
                    </a>
                    <h4><a href="{:U('Article/index',['id'=>$news['id'],'pid'=>$news['pid'],'cid'=>$news['cid']])}"><script>mySubstring('{$news.title}',20)</script></a></h4>
                    <!--
                    <time datetime="{$news.create_time}">{$news.create_time}</time>
                    -->
                </div>
            </foreach>

        </div><!-- End sidebar recent posts-->



    </div><!-- End sidebar -->

</div>
