<include file="Public/header"/>
<style>
  .entry-content img{max-width: 90%;}
  .apartment-list{}
  .apartment-list a{color: #fff !important;background: url("__PUBLIC__/image/pic_title_5.jpg");text-align: center;display: block;
      width: 90%;margin: auto;padding: 10px;font-size: 17px;font-weight: bold;letter-spacing: 2px;}
  .apartment-list a:hover{text-decoration: none !important;color:#fff !important;}
</style>
<main id="main">

  <include file="Public/channelBanner"/>

  <!-- ======= Blog Section ======= -->
  <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container-fluid">

      <div class="row" style="width: 95%;margin: auto">

        <div class="col-lg-9 entries" style="padding-left:0px;padding-right: 0px; ">
            <article class="entry" style="padding-left: 15px;padding-right: 15px;">
              <h2 class="entry-title text-center">
                <a href="">{$selectArticle.title}</a>
              </h2>
              <div class="entry-content">
                {$selectArticle.content2}
              </div>
              <div>
              </div>
            </article><!-- End blog entry -->

        </div><!-- End blog entries list -->

        <div class="col-lg-3">
          <div class="sidebar">


            <h3 class="sidebar-title">
              <a href="{:U('Channel/index',['pid'=>$channelItem['channel']['id']] )}"  >{$apartmentName}</a>
            </h3>
            <div class="sidebar-item categories">
              <ul>
                <foreach name="article" item="value">
                  <li class="apartment-list" >
                    <if condition="$Think.get.id eq $value['id']">
                        <a href="{:U('Channel/index',['pid'=>$pid,'cid'=>$cid] )}?id={$value.id}" style="background: url('__PUBLIC__/image/pic_title_3.jpg');" >{$value.title}</a>
                      <else/>
                        <a href="{:U('Channel/index',['pid'=>$pid,'cid'=>$cid] )}?id={$value.id}" >{$value.title} </a>
                    </if>

                  </li>
                </foreach>
              </ul>

            </div><!-- End sidebar categories-->
          </div><!-- End sidebar -->

        </div>

        <!-- End blog sidebar -->

      </div><!-- End .row -->

    </div><!-- End .container -->

  </section><!-- End Blog Section -->

</main><!-- End #main -->

<include file="Public/footer"/>