<include file="Public/header"/>
<main id="main">

  <!-- ======= Blog Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2></h2>


      </div>

    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Blog Section ======= -->
  <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container-fluid">

      <div class="row" style="border: 0px solid #000;width: 95%;margin: auto">
        <div class="col-lg-9 entries">

          <foreach name="article" item="value">
            <article class="entry">
             <div class="row">

               <!-- 缩略图 -->
               <div class="col-lg-3">
                 <if condition="$value['image']">
                   <div class="entry-img" style="padding: 10px;text-align: center;">
                    <table style="width: 100%;min-height: 200px;">
                      <tr>
                        <td >

                          <img src="{$value.image}" alt="无缩略图" class="img-fluid" style="align-items: center;">
                        </td>
                      </tr>
                    </table>

                   </div>
                 </if>

               </div>
               <!-- end 缩略图 -->
               <!-- 文章内容 -->
               <div class="col-lg-9">
                 <h2 class="entry-title">
                   <a href="{:U('Article/index',['id'=>$value['id'],'pid'=>$pid,'cid'=>$value['cid']])}">{$value.title}</a>
                 </h2>
                 <div class="entry-meta">
                   <ul>
                     <li class="d-flex align-items-center"><i class="icofont-user"></i><a href="javascript:;">{$value.admin}</a></li>
                     <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="javascript:;"><time datetime="{$value.create_time}">{$value.create_time}</time></a></li>
                   </ul>
                 </div>
                 <div class="entry-content">
                   <p>
                     <script>mySubstring('{$value.content}',100)</script>
                   </p>
                   <div class="read-more">
                     <a href="{:U('Article/index',['id'=>$value['id'],'pid'=>$pid,'cid'=>$value['cid']])}">详细</a>
                   </div>
                 </div>

               </div>
               <!--end 文章内容 -->

             </div>




          </article><!-- End blog entry -->
          </foreach>


          <if condition="!$article">
          <article class="entry">
            <h2 class="entry-title">
              <a href="#">该分类没有文章^_^</a>
            </h2>
          </article><!-- End blog entry -->
          </if>

          <if condition="$article">
            <div class="blog-pagination">

              <ul class="justify-content-center">
                {$page}
              </ul>
            </div>
          </if>

        </div><!-- End blog entries list -->

        <include file="Public/right"/>

        <!-- End blog sidebar -->

      </div><!-- End .row -->

    </div><!-- End .container -->

  </section><!-- End Blog Section -->

</main><!-- End #main -->

<include file="Public/footer"/>