<include file="Component/header"/>
<style src="__LIB__/ueditor/third-party/xiumi/xiumi-ue-v5.css"></style>
<link rel="stylesheet" href="__LIB__/lightbox2/dist/css/lightbox.min.css">

<style>
    #edui1{z-index: 1 !important;}
    .layui-disabled{color: #000 !important;font-weight:bold;font-size:15px;font-style: italic;}
    .layui-table-page{display: none;height: 0px;}
    .thumb{width: 180px;float: left;}
    .thumb img{width: 100%;max-height: 120px;min-height: 80px;}
    .thumb-item{width: 150px;;padding: 0px;position: relative}
    .thumb-text{position: absolute;bottom: 0px;width: 100%;padding: 7px 0px;color: #fff;
            text-align: center;font-size: 14px;
        }
    .thumb-text-bg{width: 100%;background:  #0C0C0C;position: absolute;bottom: 0px;padding: 17px 0px;
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        -khtml-opacity: 0.6;
        opacity: 0.6;
        cursor: pointer;
    }
    .lb-number{display: none !important;;}
    .thumb-set{font-size: 12px;    height: 30px;
        line-height: 30px;
        padding: 0 5px;}
    #uploadImgBtn{margin-top: 40px;}
</style>
<div class="form-block" >

    <if condition="$from eq 'copy'">
        <form action="{:U('Admis/Article/copyArticle')}" method="post" enctype="multipart/form-data">
        <else/>
            <form action="{:U('Admis/Article/addArticleHandle')}" method="post" enctype="multipart/form-data">
        </if>

        <div class="layui-form layuimini-form form-main" >
            <div style="position: absolute;right: 50px;top: 50px;">
                <if condition="$from eq 'copy'">
                    <button class="layui-btn" lay-submit >复制</button>
                    <else/>
                    <button class="layui-btn" lay-submit >保存</button>
                </if>

                <if condition="($from eq 'index') or ($from eq 'copy')">
                    <a href="{:U('Article/index')}" class="layui-btn layui-btn-primary"  >返回</a>
                    <else/>
                    <a onclick="history.go(0)" class="layui-btn layui-btn-primary"  >取消</a>
                </if>
            </div>

            <if condition="$Think.get.from eq 'copy'">
                <p style="width: 100%;text-align: center;font-size: 15px;margin-bottom: 20px;color: green;font-weight: bold">复制文章</p>
            </if>
        <div class="layui-form-item" >



            <label class="layui-form-label required">文章标题</label>
            <div class="layui-input-block">
                <input type="text" value="{$article.title}" lay-verify="required" lay-reqtext="标题不能为空" class="layui-input" name="title" id="title" />
            </div>
        </div>
            <if condition="$Think.get.from !='copy'">
                <div class="layui-form-item">
                    <label class="layui-form-label required">所属导航</label>
                    <div class="layui-input-block">
                        <select name="cid"  lay-search  size="2" id="cid" lay-filter="aihao"  lay-verify="required" lay-reqtext="请选择导航">
                            <option value="">选择导航</option>
                            <foreach name="channel" item="ch">
                                <option value="parent_{$ch.id}" disabled <if condition="$ch['id'] eq $article['parent_cid']">selected="selected"</if>>{$ch.name}</option>
                                <foreach name="ch.son" item="son">
                                    <option   value="{$son.id}" <if condition="($son['id'] eq $article['cid']) or ($lastCid eq $son['id'])">selected="selected"</if> >{$son.name}</option>
                                </foreach>
                            </foreach>
                        </select>
                    </div>
                </div>
            </if>

            <if condition="$Think.get.from =='copy'">
                <div class="layui-form-item">
                    <label class="layui-form-label required">选择导航模块</label>
                    <div class="layui-input-block">
                        <input type="text" name="" placeholder="" autocomplete="off"  lay-verify="required" lay-reqtext="导航不能为空"
                               class="layui-input" id="demo" value="" ts-selected="" >
                        <input type="hidden" name="muti_cid"  id="muti_cid" value="" >
                    </div>
                </div>
            </if>


        <div class="layui-form-item">
            <label class="layui-form-label">置顶设置</label>
            <div class="layui-input-block">
                <input type="checkbox" name="top" lay-skin="switch" <if  condition="$article['top']"> checked </if>  lay-text="文章置顶|不置顶">
            </div>
        </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文章封面图</label>


                <div class="layui-input-block" >
                    <ul class="thumb">
                        <foreach name="thumbs" item="value" key="k">
                            <if condition='$k gt 0'>
                                <li  class="thumb-item display-none">
                                <else/>
                                <li class="thumb-item" title="点击选择封面图">
                                    <div class="thumb-text-bg"></div>
                                    <div class="thumb-text">
                                        <if condition="!$article['thumb']">
                                            未选择 ({$thumbs|count})
                                            <else/>
                                            已选 点击切换({$thumbs|count})
                                        </if>

                                    </div>
                            </if>
                            <if condition="$article['thumb'] eq $value">
                                    <a href="{$value}"  data-lightbox="example-set" data-title="{$k+1}/{$thumbs|count} <button onclick='cancelThumb(this)' class='thumb-set layui-btn layui-btn-danger' data-url='{$value}'>取消设置</button>">
                                <else/>
                                    <a href="{$value}"  data-lightbox="example-set"  data-title="{$k+1}/{$thumbs|count} <button onclick='setThumb(this)' class='thumb-set layui-btn' data-url='{$value}'>设置为封面</button>">
                             </if>
                                    <img  src="{$value}"/>
                              </a>
                            </li>
                        </foreach>
                        <div class="clear"></div>
                    </ul>

                    <div class="float-left">
                        <a  href="javascript:;" class="{$theme.form.upload.style}" id="uploadImgBtn" <if condition='!$thumbs'>style='margin-top:0px;'</if> >本地上传</a>
                    </div>


                        <input type="hidden" name="thumb" id="thumb" value="{$article.thumb}"/>
                </div>
                <div class="clear"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">显示发布日期</label>
                <div class="layui-input-block">
                    <input type="text"  style="width: 200px"  value="{$showCreateTime}" name="show_create_time" id="show_create_time" class="layui-input" readonly  lay-verify="required"/>
                </div>
            </div>
            <!--
            <div class="layui-form-item">
                <label class="layui-form-label">详情页横幅</label>
                <div class="layui-input-block">&nbsp;&nbsp;&nbsp;
                    <a  href="javascript:;" class="{$theme.form.upload.style}" id="uploadImg2Btn">选择图片</a>
                    <span class="layui-word-aux"><small>最佳大小 900px*400px 可不上传</small></span>
                    <div class="slide-img2">
                        <if condition="$article">
                            <a href="{$article.banner}" target="_blank"><img src="{$article.banner}" class="img-thumb"/></a>
                        </if>
                    </div>
                    <input type="hidden" name="banner" value="{$article.banner}"/>
                </div>
            </div>
            -->
            <if condition="!$user['isNewsPoster']">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章审核</label>
                    <div class="layui-input-block">
                        <input type="radio" name="audit" value="0" title="未审核" <if  condition="$article['audit'] eq 0"> checked </if> >
                        <input type="radio" name="audit" value="1" title="审核通过" <if  condition="$article['audit'] eq 1"> checked </if>>
                        <input type="radio" name="audit" value="2" title="审核不通过" <if  condition="$article['audit'] eq 2"> checked </if>>
                    </div>
                </div>
            </if>
        <div class="layui-form-item">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <textarea id="content" name="content"  style="height:500px;width: 870px;z-index: -100">{$article.content}</textarea>

            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">

                <input type="hidden" name="token" value="{$token}"/>
                <input type="hidden" name="id" value="{$article.id}"/>
                <input type="hidden" name="from" value="{$from}"/>

                <if condition="$Think.get.from eq 'copy'">
                    <button class="layui-btn" lay-submit >复制</button>
                    <else/>
                    <button class="layui-btn" lay-submit >保存</button>
                </if>

                <if condition="($from eq 'index') or ($from eq 'copy')">
                    <a href="{:U('Article/index')}" class="layui-btn layui-btn-primary"  >返回</a>
                    <else/>
                    <a onclick="history.go(0)" class="layui-btn layui-btn-primary"  >取消</a>
                </if>
            </div>
        </div>
    </div>
    </form>
</div>


<include file="Component/footer"/>


<script type="text/javascript" src="__LIB__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__JS__/ueditorConfig.js"></script>
<script type="text/javascript" src="__JS__/upload/upload.js"></script>
<script type="text/javascript" src="__JS__/upload/upload2.js"></script>
<script src="__LIB__/ueditor/third-party/xiumi/xiumi-ue-dialog-v5.js" charset="utf-8"></script>
<script src="__LIB__/ueditor/third-party/135editor/135editor.js" charset="utf-8"></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>

<script  type="text/javascript"  src="__LIB__/lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript">

    var thumbsJson = eval('(' + '{$thumbsJson}'+ ')');
    var originAritcleThumb = eval('(' + '{$thumbsJson}'+ ')');//保留原版
    $(function(){
        //初始化编辑器
        initEditor();
        $("#cancelBtn").click(function(){
            history.go(0);
        });
        uploadHandle.upload({
            id:"uploadImgBtn",
            name:'file', //服务端接收的名称
            fileType:'image', //允许上传的文件类型
            url:"{:U('uploadFile')}",
            callback:function(data){
                if(data == '' || data == undefined){
                    return false;
                }
                $("#thumb").val(data.path);
                thumbsJson[thumbsJson.length] = data.path;// 追加图片
                resetThumbMap('set',data.path);
            }
        });
        /*
        uploadHandle2.upload({
            id:"uploadImg2Btn",
            name:'file', //服务端接收的名称
            fileType:'image', //允许上传的文件类型
            url:"{:U('uploadFile2')}",
            callback:function(data){
                $('.slide-img2').html('<img class="img-thumb" src="'+data.url+'"/>');
                $("input[name=banner]").val(data.path);
            }
        });*/


        $("#delete-banner").click(function(){
            $("input[name=thumb]").val('');
            $(this).remove();
            $("#thumb").remove();
        });

        if("{$articleHandleMsg}"){
            layerSuc("{$articleHandleMsg}");
        }

        $("#show_create_time").click(function(){
            WdatePicker({el:$("#show_create_time")[0],dateFmt:'yyyy-MM-dd HH:mm:ss',startDate:'{$showCreateTime}',minDate:'1970-01',maxDate:'2030-01',alwaysUseStartDate:true});
        });




    });
    //封面图设置
    function setThumb(obj){
        var url = $(obj).attr('data-url');
        $("#thumb").val(url);
        resetThumbMap('set',url);
        $(".lb-close").click();//关闭
    }

    //封面图取消设置
    function cancelThumb(obj){
        $("#thumb").val('');
        resetThumbMap('cancel',$(obj).attr('data-url'));
        $(".lb-close").click();//关闭
    }


    /**
     * 重新设置封面图集
     * @param action 动作 set|cancel 设置和取消设置
     * @param string url 设置的url
     */
    function resetThumbMap(action,setUrl){
        var html = '';


        var data = [];//重新组合的图片集合
        var number = 0;
        if(action == 'set' && (setUrl != '')){
            data[number++] = setUrl; //把要设置的图片放第一个
        }

        for(i=0;i<thumbsJson.length;i++){
            if(thumbsJson[i] == setUrl && action == 'set'){
                continue;//已经放第一个了
            }
            data[number++] = thumbsJson[i];
        }


        for(i=0;i<number;i++){
            var url    = data[i];

            if(i == 0){
                html += '<li class="thumb-item" title="点击选择封面">';
                html += '<div class="thumb-text-bg"></div>';

                if(action =='set'  && (setUrl != '')){
                    html += '<div class="thumb-text"> 已选 点击切换('+number+')</div>'
                }else{
                    html += '<div class="thumb-text"> 未选择('+number+')</div>'
                }


            }else{
                html += '<li class="thumb-item display-none" title="点击选择封面">';
            }



            html += '<a href="'+url+'" data-lightbox="example-set" data-title="'+(i+1)+'/'+number;
            if(action == 'set' && setUrl == url){
                html +=  " <button onclick='cancelThumb(this)' class='thumb-set layui-btn layui-btn-danger' data-url='"+url+"'>取消设置</button>";
            }else{
                html +=  " <button onclick='setThumb(this)' class='thumb-set layui-btn ' data-url='"+url+"'>设置为封面</button>";
            }
            html+= '"';
            html += "'>";
            html += '<img src="'+url+'"></a></li>';

        }

        //log(html);
        $(".thumb").html(html);

    }



    layui.use(['table', 'form', 'tableSelect'], function () {
        var $ = layui.jquery,
            table = layui.table,
            form = layui.form,
            tableSelect = layui.tableSelect;

        //多选
        tableSelect.render({
            elem: '#demo',
            searchKey: 'keyword',
            searchPlaceholder: '',
            table: {
                url: '{:U("getChannelJson")}?cid={$article.cid}',
                cols: [[
                    { type: 'checkbox' },
                    { field: 'id', title: 'ID(支持多选)', width: 150 },
                    { field: 'name', title: '导航模块', width: 300 },
                ]]
            },
            done: function (elem, data) {
                var NEWJSON = [];
                var cid = [];
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.sonname);
                    cid.push(item.id);
                })
                elem.val(NEWJSON.join(","));
                $("#muti_cid").val(cid.join([',']));
            },
            page: true,
            limit:100
        })
    });

    var ue = UE.getEditor('content');
    ue.addListener("contentChange",function() { //内容变化
        setUeditorImage((UE.getEditor('content').getContent()))
    });
    ue.addListener("blur",function() { //失去焦点
        setUeditorImage((UE.getEditor('content').getContent()))
    });

    function getimgsrc(htmlstr) {
        var reg = /<img.+?src=('|")?([^'"]+)('|")?(?:\s+|>)/gim;
        var arr = [];
        while (tem = reg.exec(htmlstr)) {
            arr.push(tem[2]);
        }
        return arr;
    }

    function setUeditorImage(html){
        if($.trim(html) == ''){
            return false;
        }
        var img = getimgsrc(html);
        if(img.length == 0){
            return false;
        }


        //追加用户新插入的图片
        for(i=0;i<img.length;i++){
            //编辑器的loading图标
            if(img[i].indexOf('spacer.gif') != -1){
                continue;
            }

            //不存在 追加
            if(thumbsJson.includes(img[i]) == false ){
                thumbsJson[thumbsJson.length] = img[i];
            }
        }
        resetThumbMap('set',$("#thumb").val());//重新设置
    }


</script>