<include file="Component/header"/>
<style src="__LIB__/ueditor/third-party/xiumi/xiumi-ue-v5.css"></style>


<style>
    #edui1{z-index: 1 !important;}
    .layui-disabled{color: #000 !important;font-weight:bold;font-size:15px;font-style: italic;}
    .img-thumb{max-width: 70px;max-height: 70px;margin: 10px;cursor: pointer;margin-left: 15px;}
</style>
<div class="form-block" >
    <form action="{:U('addArticleHandle')}" method="post" enctype="multipart/form-data">
        <div class="layui-form layuimini-form form-main" >
            <div style="position: absolute;right: 50px;top: 50px;">
                <button class="layui-btn" lay-submit >保存</button>
                <a href="{:U('Article/index')}" class="layui-btn layui-btn-primary"  >返回</a>
            </div>


        <div class="layui-form-item" >
            <label class="layui-form-label required">文章标题</label>
            <div class="layui-input-block">
                <input type="text" value="{$article.title}" lay-verify="required" lay-reqtext="标题不能为空" class="layui-input" name="title" id="title" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">所属导航</label>
            <div class="layui-input-block">
                <select name="cid" id="cid" lay-filter="aihao"  lay-verify="required" lay-reqtext="请选择导航">
                    <option value="">选择导航</option>
                    <foreach name="channel" item="ch">
                        <option value="parent_{$ch.id}" disabled <if condition="$ch['id'] eq $article['parent_cid']">selected="selected"</if>>{$ch.name}</option>
                        <foreach name="ch.son" item="son">
                            <option value="{$son.id}" <if condition="$son['id'] eq $article['cid']">selected="selected"</if> >&nbsp;&nbsp;&nbsp;{$son.name}</option>
                        </foreach>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">置顶设置</label>
            <div class="layui-input-block">
                <input type="checkbox" name="top" lay-skin="switch" <if  condition="$article['top']"> checked </if>  lay-text="文章置顶|不置顶">
            </div>
        </div>
            <div class="layui-form-item">
                <label class="layui-form-label">封面缩略图</label>
                <div class="layui-input-block"><a  href="javascript:;" class="{$theme.form.upload.style}" id="uploadImgBtn">选择图片</a>
                    <span class="layui-word-aux"><small>最佳大小 500px*500px 无缩略图自动抓取文章内容的图片</small></span>
                    <div class="slide-img">
                        <if condition="$article and $article['thumb']">
                            <a href="{$article.thumb}" target="_blank" id="thumb"><img src="{$article.thumb}" class="img-thumb"/></a>
                            <a class="{$theme.databar.delete.style} "  title="删除" id="delete-banner">{$theme.databar.delete.icon}</a>

                        </if>
                    </div>
                    <input type="hidden" name="thumb" value="{$article.thumb}"/>
                </div>
            </div>

            <!--
            <div class="layui-form-item">
                <label class="layui-form-label">详情页横幅</label>
                <div class="layui-input-block">&nbsp;&nbsp;&nbsp;
                    <a  href="javascript:;" class="{$theme.form.upload.style}" id="uploadImg2Btn">选择图片</a>
                    <span class="layui-word-aux"><small>最佳大小 900px*400px 可不上传</small></span>
                    <div class="slide-img2">
                        <if condition="$article">
                            <a href="{$article.banner}" target="_blank"><img src="{$article.banner}" class="img-thumb"/></a>
                        </if>
                    </div>
                    <input type="hidden" name="banner" value="{$article.banner}"/>
                </div>
            </div>
            -->
            <if condition="!$user['isNewsPoster']">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章审核</label>
                    <div class="layui-input-block">
                        <input type="radio" name="audit" value="0" title="未审核" <if  condition="$article['audit'] eq 0"> checked </if> >
                        <input type="radio" name="audit" value="1" title="审核通过" <if  condition="$article['audit'] eq 1"> checked </if>>
                        <input type="radio" name="audit" value="2" title="审核不通过" <if  condition="$article['audit'] eq 2"> checked </if>>
                    </div>
                </div>
            </if>
        <div class="layui-form-item">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <textarea id="content" name="content"  style="height:500px;width: 870px;z-index: -100">{$article.content}</textarea>

            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">

                <input type="hidden" name="token" value="{$token}"/>
                <input type="hidden" name="id" value="{$article.id}"/>
                <input type="hidden" name="from" value="{$from}"/>
                <button class="layui-btn" lay-submit >保存</button>
                <a href="{:U('Article/index')}" class="layui-btn layui-btn-primary" >返回</a>
            </div>
        </div>
    </div>
    </form>
</div>


<include file="Component/footer"/>


<script type="text/javascript" src="__LIB__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__JS__/ueditorConfig.js"></script>
<script type="text/javascript" src="__JS__/upload/upload.js"></script>
<script type="text/javascript" src="__JS__/upload/upload2.js"></script>
<script src="__LIB__/ueditor/third-party/xiumi/xiumi-ue-dialog-v5.js" charset="utf-8"></script>
<script src="__LIB__/ueditor/third-party/135editor/135editor.js" charset="utf-8"></script>


<script type="text/javascript">

    $(function(){
        //初始化编辑器
        initEditor();
        $("#cancelBtn").click(function(){
            history.go(0);
        });
        uploadHandle.upload({
            id:"uploadImgBtn",
            name:'file', //服务端接收的名称
            fileType:'image', //允许上传的文件类型
            url:"{:U('uploadFile')}",
            callback:function(data){
                $('.slide-img').html('<img class="img-thumb"  src="'+data.url+'"/>');
                $("input[name=thumb]").val(data.path);
            }
        });

        uploadHandle2.upload({
            id:"uploadImg2Btn",
            name:'file', //服务端接收的名称
            fileType:'image', //允许上传的文件类型
            url:"{:U('uploadFile2')}",
            callback:function(data){
                $('.slide-img2').html('<img class="img-thumb" src="'+data.url+'"/>');
                $("input[name=banner]").val(data.path);
            }
        });


        $("#delete-banner").click(function(){
            $("input[name=thumb]").val('');
            $(this).remove();
            $("#thumb").remove();
        });

        if("{$articleHandleMsg}"){
            layerSuc("{$articleHandleMsg}");
        }
    });



    layui.use(['form'], function () {
        /*
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        form.on('submit(saveBtn)', function (data) {

            $.post("{:U('addArticleHandle')}",data.field,function(data){
                if(data.status == 1){
                    parent.layerErr(data.msg);
                }else{
                    parent.layerSuc(data.msg);
                }
            },'json');
            return false;
        });
        */
    });
</script>