<!--</div>-->
</div>
</div>
<script src="__LIB__/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="__LIB__/layuimini//lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="__LIB__/layuimini//lib/layui-v2.5.5/lay/modules/layer.js" charset="utf-8"></script>
<script src="__LIB__/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="__JS__/function.js"></script>
<script src="__JS__/admin.js"></script>
<script>
</script>
</body>
</html>
