<include file="Public/admin_header"/>
<!-- 主体内容 -->
<div class="main-conent">

<div style="width: 900px;margin: auto; ">
    <form action="{:U('AdmissionsStudent/editHandle')}" method="post"  class="apply-form" >

        <table class="layui-table" >

            <tbody>
            <tr>
                <td colspan="4" class="apply-top">三亚学院继续教育学院网上预报名登记表</td>
            </tr>
            <tr>
                <td class="apply-item">所在地区</td>
                <td colspan="3">
                    <select name="province">
                        <foreach name="province" item="v">
                            <option value="{$v}"  <if condition="$v eq $data['province']">selected </if>>{$v}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="apply-item">报读层次</td>
                <td colspan="3">
                    <select name="apply_type">
                        <foreach name="apartment" item="v">
                            <option value="{$v.id}" <if condition="$v.id eq $data['apply_type']">selected </if> >{$v.name}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="apply-item">报读专业</td>
                <td colspan="3">
                    <select name="apply_major">
                        <foreach name="major" item="v">
                            <option value="{$v.id}" <if condition="$v.id eq $data['apply_major']">selected </if>>{$v.name}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="apply-title">基本信息</td>
            </tr>
            <tr>
                <td class="apply-item">姓名</td>
                <td>
                    <input type="text" value="{$data.name}"  name="name"  required="required" autocomplete="off" class="apply-input"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">性别</td>
                <td>
                    <input type="radio" name="sex" value="0" id="nav_0" <if condition="$data['sex'] eq 0">checked</if> />
                    <label for="nav_0">男</label>&nbsp;&nbsp;
                    <input type="radio" name="sex" value="1"  id="nav_1"  <if condition="$data['sex'] eq 1">checked</if> />
                    <label for="nav_1">女</label>&nbsp;
                </td>
            </tr>
            <tr>
                <td class="apply-item">出生日期</td>
                <td>
                    <input type="text"  value="{$data.birthday}" name="birthday" id="birthday" class="apply-input" readonly  required="required"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">民族</td>
                <td>
                    <input type="text"   value="{$data.nation}" name="nation"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
            </tr>
            <tr>
                <td class="apply-item">身份证号码</td>
                <td>
                    <input type="text"  value="{$data.idcard}" name="idcard"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">职业状况</td>
                <td>
                    <select name="is_job">
                        <option value="已就业" <if condition="$data['is_job'] eq '已就业'">selected</if>>已就业</option>
                        <option value="未就业"  <if condition="$data['is_job'] eq '未就业'">selected</if>>未就业</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="apply-item">户口所在地</td>
                <td>
                    <input type="text"  value="{$data.residence}"  name="residence"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">原毕业院校</td>
                <td>
                    <input type="text"  value="{$data.gradute_school}" name="gradute_school"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
            </tr>
            <tr>
                <td class="apply-item">现有最高学历</td>
                <td>
                    <input type="text"  value="{$data.education}" name="education"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">原毕业日期</td>
                <td>
                    <input type="text"  value="{$data.graduate_date}" value="" name="graduate_date" id="graduate_date" class="apply-input" readonly  />
                </td>
            </tr>
            <tr>
                <td class="apply-item">原学专业</td>
                <td>
                    <input type="text"  value="{$data.graduate_major}"  name="graduate_major"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">原毕业证号</td>
                <td>
                    <input type="text"  value="{$data.graduate_id}" name="graduate_id"  class="apply-input" />

                </td>
            </tr>
            <tr>
                <td colspan="4" class="apply-title">联系方式</td>
            </tr>
            <tr>
                <td class="apply-item">手  机</td>
                <td>
                    <input type="text"  value="{$data.mobile}" name="mobile"  class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
                <td class="apply-item">固定电话</td>
                <td>
                    <input type="text"   value="{$data.phone}" name="phone"  class="apply-input"/>
                </td>
            </tr>
            <tr>
                <td class="apply-item">E-mail</td>
                <td>
                    <input type="text"  value="{$data.email}" name="email"  class="apply-input"/>
                </td>
                <td class="apply-item">通信地址</td>
                <td>
                    <input type="text"   value="{$data.address}" name="address"   class="apply-input"  required="required"/>
                    <span class="red">*</span>
                </td>
            </tr>
            <tr>
                <td class="apply-item">工作单位</td>
                <td >
                    <input type="text"   value="{$data.company}" name="company"  class="apply-input"/>
                </td>
                <td class="apply-item">职  务</td>
                <td >
                    <input type="text"  value="{$data.position}"  name="position"  class="apply-input"/>
                </td>
            </tr>
            <tr>
                <td class="apply-item">单位地址</td>
                <td >
                    <input type="text"  value="{$data.company_address}" name="company_address" class="apply-input"/>
                </td>
                <td class="apply-item">单位电话</td>
                <td >
                    <input type="text"  value="{$data.company_phone}"  name="company_phone"  class="apply-input"/>
                </td>
            </tr>
            <tr>
                <td class="apply-item">需特别说明的事宜</td>
                <td colspan="3">
                    <textarea rows="4"  cols="80" name="remark">{$data.remark}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="layui-btn"  id="submit-apply" onclick="return confirm('您确定提交吗?')"> 提  &nbsp;&nbsp;交 </button>
                    <button  class="layui-btn layui-btn-primary" type="reset"> 取消编辑 </button>
                    <a  class="layui-btn layui-btn-primary"href="{:U('index',['mid'=>$mid,'pid'=>$pid])}">返回</a>
                    <input type="hidden" name="id" value="{$data.id}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</div>
<include file="Public/admin_footer"/>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    function selectDate(id,startDate){
        var dateInput = $("#"+id)[0];
        WdatePicker({el:dateInput,dateFmt:'yyyy-MM',startDate:startDate,minDate:'1990-01',maxDate:'2020-01',alwaysUseStartDate:true});
        return false;
    }
    $("#birthday").click(function(){
        WdatePicker({el:$("#birthday")[0],dateFmt:'yyyy-MM-dd',startDate:'2002-01-01',minDate:'1990-01',maxDate:'2020-01',alwaysUseStartDate:true});
    });
    $("#graduate_date").click(function(){
        selectDate("graduate_date",'2012-01-01');
    });

    var apartment =  eval('(' + '{$jsonApartment}' + ')');
    $(function(){
        var userMajor = "{$data.apply_major}";

        $("select[name=apply_type]").change(function(){
            var id = $(this).val();
            var major = apartment[id]['major'];
            var html = '';
            var selected = '';
            for(let key  in major){
                if(key == userMajor){
                    selected = "selected";
                }else{
                    selected = "";
                }
                html += '<option value="'+key+'"'+selected+'>'+major[key]['name']+'</option>';
            }
            $("select[name=apply_major]").html(html);

        });
    });
</script>
