<include file="Component/header"/>

<div class="form-block" >
    <div class="layui-form layuimini-form form-main" >
        <div class="layui-form-item">
            <label class="layui-form-label">导航名称</label>
            <div class="layui-input-block">
                <input type="text" value="{$channel.name}" name="name" autocomplete="off"  placeholder="输入名称" class="layui-input"
                       lay-verify="required" lay-reqtext="名称不能为空"/></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="number" value="{$channel.sort|default=100}" name="sort"  class="layui-input" required="required"/>
                <div class="layui-form-mid layui-word-aux">越小越往前</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">导航显示</label>
            <div class="layui-input-block">
                <input type="radio" name="show_nav" value="0" title="显示"   <if condition="!$channel or ($channel.show_nav eq 0)"> checked='checked' </if> >
                    <div class="layui-unselect layui-form-radio layui-form-radioed">
                        <i class="layui-anim layui-icon"></i><div>显示</div>
                    </div>
                <input type="radio" name="show_nav" value="1" title="不显示" <if condition="$channel.show_nav eq 1"> checked='checked' </if>  >
                    <div class="layui-unselect layui-form-radio">
                        <i class="layui-anim layui-icon"></i><div>不显示</div>
                    </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">导航横幅图</label>
            <div class="layui-input-block">
                <a  href="javascript:;" class="{$theme.form.upload.style}" id="uploadImgBtn">选择图片</a>
                <span class="layui-word-aux">最佳大小 1200px*300px</span>
                <div class="slide-img">
                    <if condition="$channel and $channel['banner']">
                        <a href="{$channel.banner}" target="_blank" id="banner"><img src="{$channel.banner}"/></a>
                        <a class="{$theme.databar.delete.style} "  title="删除" id="delete-banner">{$theme.databar.delete.icon}</a>
                    </if>
                </div>
                <input type="hidden" name="banner" value="{$channel.banner}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">导航横幅图标题：</label>
            <div class="layui-input-block">
                <input type="text" value="{$channel.banner_title}" name="banner_title"  class="layui-input" placeholder="可留空"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">导航横幅图内容：</label>
            <div class="layui-input-block">
                <input type="text" value="{$channel.banner_content}" name="banner_content"  class="layui-input" placeholder="可留空"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="token" value="{$token}"/>
                <input type="hidden" name="id" id="id" value="{$channel.id}"/>
                <input type="hidden" name="parent_id" id="parent_id" value="{$parent.id}"/>
                <input type="hidden" name="classify" id="classify" value="{$parent.classify}"/>
                <button class="{$theme.form.submit.style}" lay-submit lay-filter="saveBtn">{$theme.form.submit.text}</button>
                <button class="{$theme.form.cancel.style}"  id="cancelFormBtn">{$theme.form.cancel.text}</button>
            </div>
        </div>
    </div>
</div>
<include file="Component/footer"/>
<script type="text/javascript" src="__JS__/upload/upload.js"></script>

    <script>
        $(function(){

            uploadHandle.upload({
                id:"uploadImgBtn",
                name:'file', //服务端接收的名称
                fileType:'image', //允许上传的文件类型
                url:"{:U('uploadFile')}",
                callback:function(data){
                    $('.slide-img').html('<img src="'+data.url+'"/>');
                    $("input[name=banner]").val(data.path);
                }
            });
            $("#delete-banner").click(function(){
                $("input[name=banner]").val('');
                $(this).remove();
                $("#banner").remove();
            });
        })
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;
            //监听提交

            form.on('submit(saveBtn)', function (data) {
                $.post("{:U('HomeChannel/addSonHandle')}",data.field,function(data){
                    if(data.status == 1){
                        layerErr(data.msg);
                    }else{
                        parent.layerSuc(data.msg);
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.reloadLayerTableData();
                    }
                },'json');
                return false;
            });


        });

        //表单填写 点击取消
        $("#cancelFormBtn").click(function(){
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            parent.reloadLayerTableData();
        });
    </script>