.main{margin: auto;padding-top: 20px;padding-left:20px;padding-right:20px;}
.major{padding-top: 20px;cursor: pointer}
.major .section-title{text-align: center;width: 100%;}
.major-thumb{position: relative;}
.major-thumb img{width: 100%;height: 200px;}
.major-thumb  .title-name-show{position: absolute;top: 10px;font-size: 20px;left: 10px;color: #fd7e0a;
    font-weight: bold;text-align: left;
}
.major .icon-box{padding: 5px;}
.major .title-bg{margin: 0px;position: absolute;top: 0px;background: #fd7e0a;
    width: 100%;height: 100%;text-align: center;padding-top: 70px;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    display: none;
}
.major .title-name{color:#fff ;margin: 0px;position: absolute;top: 0px;padding: 20px;
    width: 100%;height: 100%;text-align: center;padding-top: 70px;z-index: 99999;font-weight: bold;letter-spacing: 2px;
    display: none;
}
.section-title{width: 100%;}
.section-title h2{color:#fff;font-size: 25px;padding: 8px;font-family: stxingkairegular}


.news-title{width: 100%;text-align: center;background: #ccc;}


.news-list{list-style-type: none;padding: 10px 10px 0px 15px;margin: 0px;width: 100%;
    border:1px solid #ccc;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;

}
.news-list li{list-style-type: none;border-bottom: 1px dotted #ccc;    padding-bottom: 7px;
    margin-bottom: 3px}
.news-list li a{color:#0b2e13;font-size: 15px;}
.news-list li a:hover{text-decoration: underline;}
.news-time{float: right;font-size: 13px;margin-top: 5px;}
.container-fluid{}
.news-more svg{float:right;margin-right:5px;color:#fff; width:20px; height:20px;position: relative;top:5px;}
.services-section-two{margin-top: 0px;margin-bottom: 20px;}

.news-main{border: 1px solid #11BFC8;padding: 0px;margin: 0px;border-radius: 3px;background: #fff;padding-top: 10px;}
.news-main .carousel-inner{height: 290px !important;}
.news-main .carousel-inner img{min-height: 290px;}

.section-title-1{background: url("/Public/image/pic_title_4.jpg");}
.section-title-2{background: url("/Public/image/pic_title_3.jpg");}
.section-title-3{background: url("/Public/image/pic_title_4.jpg");}
.section-title-4{background: url("/Public/image/pic_title_4.jpg");}
.section-title-5{background: url("/Public/image/pic_title_3.jpg");}
.section-title-6{background: url("/Public/image/pic_title_5.jpg");}
.section-title-7{background: url("/Public/image/pic_title_3.jpg");}
.news-list-bg-1{}
.news-list-bg-2{background: #fffcfb ;border-color: #F7BC60 ;margin-top: 10px;}
.news-list-bg-3{background: #f8fff6;border-color: #59B836 ;border-top: 0px;}
.news-list-bg-4{background: #f8fff6;border-color: #59B836;border-top: 0px }
.news-list-bg-5{background: #fffcfb;border-color: #EE7B80 ;border-top: 0px}/*fff8bb*/
.news-list-bg-6{}
.news-list-bg-7{;padding-top: 10px;}
.index-banner{padding-top: 100px;}

.logo .img-fluid{margin-left: 0px !important;}
@media screen and (max-width: 500px) {
    .index-banner {padding-top: 50px}
}
.container-main{padding-right: 0px;padding-left: 0px;}
.pc-header-nav{}
.nav-menu .drop-down a{}
@media screen and (max-width: 450px) {/*  不大于 手机*/
    .index-banner-img {height: 150px }
    .news-time{display: none;}
    .news-list li a{font-size: 14px;}
    .news-main{padding-top: 0px;}
    .news-list-bg-2{margin-top: 0px ;}
    .pc-slider{display: none}
    .mobile-slider{display: block}
    .container-main{padding-left: 0px;padding-right: 0px;}

    .index-banner .carousel-caption h2 {font-size: 18px; }
    .index-banner .carousel-caption {bottom: 5%; }
     .img-fluid{padding-left: 10px !important;}

    /*首页横幅以下的主体*/
    .main{ width:100%;padding-top: 10px;}
}


@media screen and (min-width: 1330px) {/* 不小于 老电脑 分辨率不高 */
    .index-banner-img {height: 450px}
    .news-list-bg-3{min-height: 290px;}
    .news-list-bg-4{min-height: 290px;}
    .news-list-bg-5{min-height: 290px;}

    .pc-slider{display: block}
    .mobile-slider{display: none}


    .main{width:1180px;padding-left: 0px;padding-right: 0px;}    /*首页横幅以下的主体*/
    .pc-header-logo{width:1180px;padding: 0px;} /*头部logo*/
    .pc-header-nav nav{width: 1180px !important;margin: 0px auto !important;}

    /*
    .logo{background: url('/Public/image/logo_flag.png') no-repeat right 15px;}
    */

}
@media screen and (min-width: 1800px) {/* 不小于 分辨率高的电脑*/
    .index-banner-img {height: 500px}

    /*首页横幅以下的主体*/
    .main{ width:1180px;}
    .pc-header-logo{width:1180px;padding: 0px;} /*头部logo*/
    .pc-header-nav nav{width:1180px !important;margin: 0px auto !important;}
}



.index-center-flag{padding-bottom: 0px;background: #fffdbc;border: 1px solid #ffa726;margin: 10px 0px;}
.index-channel-news-shadow{width: 100%;height: 100%;position: absolute;background: #000;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.index-channel-news-flag{
    width: 250px;height: 120px;background: #ffa726;color:#fff;
    margin: 20px auto;
    position: relative;;
}
.index-channel-news-flag .index-channel-news-flag-item{position: absolute;width: 100%;text-align: center;
    top:20px;font-size: 25px;font-weight: bold;;letter-spacing: 3px;

}
.flag-en-name{border-top: 1px solid #fff;border-bottom: 1px solid #fff;width: 70%;margin: 5px auto 0px auto;
    font-weight: normal;
}
body{background: #fdfdfd ;}
.section-title h2 svg{color:#fff;height: 22px;width: 20px;}
.services-section-two .inner-box{margin-bottom: 60px;}
.service-block-two .lower-content {padding: 15px;}
.service-block-two .inner-box:hover .lower-content {
    padding-bottom: 60px;
}

/* 中间图片*/
.slide-center{padding:0px 0px;margin: 30px 0px;}
.slide-center .slide-center-img{width: 100%;}
.slide-center-item{position: relative;width: 100%}
.slide-center-text{position: absolute;width: 100%;text-align: center;bottom: 0px;font-size: 15px;
    color: #fff;font-weight:bold;
    background: #000;padding: 10px 0px;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    letter-spacing: 2px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
.slide-center-text a{color: #fff;}

.service-block-two .lower-content .read-more-btn a {padding: 10px 0;}
.services .icon-box{margin-bottom: 20px;}
.displayNone{display: none;}
.pc-slider{padding-left: 0px;padding-right: 0px;padding-top: 100px;}