<!-- 网站底部 -->
<div class="web-foot" style="background: #FFF">
    <div class="web-foot-text">
        {$config.right_msg}
    </div>
</div>
</div>
</body>
</html>
<script type="text/javascript" src="__LIB__/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__JS__/admin.js"></script>
<script type="text/javascript" src="__LIB__/layui-v1.0.0.9/layui.js"></script>
<script type="text/javascript" src="__LIB__/nice-validator-1.1.1/jquery.validator.min.js?local=zh-CN"></script>
<script type="text/javascript" src="__JS__/validate.js"></script>



